.modal-content {
  max-height: 450px;
}
.modal-dialog-fluid {
  max-width: inherit;
  width: 60%;
}

.modal-body {
  height: 400px;
}
.modal-title > p {
  font-size: 40px;
}

.modal-body > p {
  font-size: 50px;
  margin: 0;
  height: 50px;
}
